body {
    font-family: "Roboto", sans-serif;
  }
  
  .error {
    color: #ffff;
    background-color: red;
    transition: all 0.4s ease-in;
  }
  .success {
    color: #ffff;
    background-color: limegreen;
    transition: all 0.4s ease-in;
  }
  
  .disappear {
    display: none;
  }
  
  #result {
    margin: 5px;
    width: 300px;
    margin: 0 auto 0 auto;
    padding: 10px;
  }
  
  #main {
    width: 350px;
    margin: 0 auto 0 auto;
    background-color: #002f5e;
    color: #ffff;
    text-align: center;
    padding: 20px 10px 10px 10px;
    border-radius: 5px;
  }
  
  .txt {
    margin: 5px;
    color: #002f5e;
    background-color: #c4e1ff;
    padding: 10px;
    width: 300px;
    border: #ccc 1px solid;
  }
  
  #btn {
    width: 320px;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    border-bottom: 3px solid #616a6b;
  }
  
  #btn:hover {
    background-color: #b0b0b0;
  }
  
  h2 {
    margin: 5px 5px 10px 5px;
  }
  